{% extends 'admin/base/base.html' %}
{% load static %}

{% block title %}OperPan | Cuentas{% endblock %}
{% block section_title %}Gestión de Cuentas{% endblock %}
{% block section_subtitle %}Panel de Administración{% endblock %}
{% block active_cuentas %}active{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/cuentas.css' %}">
{% endblock %}

{% block content %}
<main class="dashboard-container">

    {% include "admin/usuarios/context.html" %}

</main>

<!-- Modales (Crear, Editar, Ver, Eliminar) -->
{% include "admin/usuarios/modal.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/admin/cuentas.js' %}"></script>
{% endblock %}