{% extends 'empleado/base/base.html' %}
{% load static %}

{% block title %}OperPan | Mi horario{% endblock %}
{% block section_subtitle %}Panel de Empleado{% endblock %}
{% block section_title %}Mi horario de trabajo{% endblock %}
{% block active_horario %}active{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/empleado/asistencia.css' %}">
<link rel="stylesheet" href="{% static 'css/empleado/horario.css' %}">
{% endblock %}

{% block content %}
<main class="dashboard-container">
    <!-- Contenido principal -->
    {% include "empleado/horario/content.html" %}
    
    <!-- Modal para detalle histórico -->
    {% include "empleado/horario/modal.html" %}

    <footer>
        <i class="bi bi-shield-check"></i> Sistema de gestión de asistencia - Trazabilidad garantizada
    </footer>
</main>

<div class="toast-message" id="liveToast" style="display: none;">
    <div class="bg-white rounded-3 shadow p-3 border-start border-4 border-danger">
        <div class="d-flex gap-2 align-items-center">
            <i class="bi bi-info-circle-fill text-danger fs-5"></i>
            <span id="toastMsg">Mensaje</span>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/empleado/horario.js' %}"></script>
{% endblock %}