<div class="modal fade" id="modalVerHorario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-eye me-2"></i>Detalle del horario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Empleado</label>
            <input id="ver-empleado" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-6">
            <label class="form-label">Cargo</label>
            <input id="ver-cargo" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-4">
            <label class="form-label">Jornada</label>
            <input id="ver-turno" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-4">
            <label class="form-label">Hora entrada</label>
            <input id="ver-entrada" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-4">
            <label class="form-label">Hora salida</label>
            <input id="ver-salida" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-6">
            <label class="form-label">Día de descanso</label>
            <input id="ver-descanso" class="form-control" type="text" readonly>
          </div>
          <div class="col-md-6">
            <label class="form-label">Estado</label>
            <input id="ver-estado" class="form-control" type="text" readonly>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-corporate" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>e